/*styles.css*/

/*FUENTE*/
.tenor-sans-regular {
  font-family: "Tenor Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/*Estilos generales*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  font-family: "Tenor Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.header {
  background-color: #333;
  color: white;
  padding: 1em 0;
  text-align: center;
}

.main {
  padding: 1em;
}

.header__title {
  text-transform: uppercase;
}

.header__title,
.Gallery__container__description {
  margin: 0;
  letter-spacing: 1px;
  line-height: 1.6;
}

/*Estilos de la galeria*/
.Gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 1.6em;
  justify-content: center;
}

.Gallery__container {
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  width: 200px;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.Gallery__container__img {
  max-width: 100%;
  display: block;
}

.Gallery__container__description {
  margin: 0;
  padding: 0.5em;
  background-color: #f4f4f4;
}

/*Efecto hover*/
.Gallery__container:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.Gallery__container__description {
  background-color: #e2e2e2;
}
